main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card-main {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.movie-poster-main {
  width: auto;
  height: 230px;
}
.movie-title-main {
  height: 30px;
  align-self: flex-start;
}
.movie-rating-main {
  height: 30px;
  align-self: self-end;
}
