main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 200px;
  margin-bottom: 20px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.movie-poster-main {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.movie-title-main {
  height: 30px;
  align-self: flex-start;
}
.movie-rating-main {
  height: 30px;
  align-self: self-end;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:hover,
a:active {
  color: inherit;
}

@media (max-width: 768px) {
  .movie-card-main {
    width: 100%;
  }

  .movie-poster-main {
    height: 350px;
    max-width: 160px;
  }

  .movie-title-main {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .movie-rating-main {
    font-size: 14px;
  }
}
